#theDashboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dashboardSideBar {
  position: fixed;
  top: 0%;
  bottom: 0%;
  width: 250px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  z-index: 2;
  transition: width 0.3s ease;
  background-color: #fff;
  padding: 5px 10px;
  /* background-color: #dcdcdc3b; */
}
#dashboardSideBarLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 1px solid #80808037;
  border-radius: 4px;
}
#dashboardSideBarLogo img {
  width: 200px;
  height: 100px;
  object-fit: contain;
}
#dashboardSideBarLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#dashboardSideBarBtns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
#dashboardSideBarBtnsDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 1px solid #80808037;
  margin-top: 5px;
 height: 50px;
  border-radius: 4px;
}
#dashboardSideBarBtnsDiv button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  border: none;
  background-color: transparent;
  color: #808080;
  border-radius: 4px;
}
#dashboardSideBarBtnsDiv button:hover{
  background-color: #00a6ff;
  color: #fff;
}

#dashboardSideBarBtnsIcons {
  margin-right: 10px;
}
#dashboardSideBarBtnsCol{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border: 1px solid #80808037;
    margin-top: 5px;
    border-radius: 4px;
}
#dashboardSideBarBtnsCol:hover{
background-color: #00a6ff;
}

/* #dashboardSideBarBtnsCol button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    border: none;
    background-color: transparent;
    color: #808080;
} */
.church-records-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#records-btn{
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
#records-btn:hover{
  background-color: #00a6ff;
  color: #fff;
}
.nested-btn{
    padding: 8px 0px;
    border-radius: 4px;
    border: 1px solid red;
    background-color: #808080;
}
#dashBoardContent {
  flex: 1;
  padding: 20px;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}
