body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #fff;
}
::-webkit-scrollbar {
  width: 8px;
  height: 2px;
  border-radius: 5px;
}
::-webkit-scroller-track {
  background-color: #555;
}
::-webkit-scrollbar-thumb {
  background: #12121249;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #24242452;
}
@media (max-width: 750px) {
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    color: #555;
  }

}
