#navbar-page{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  background-color: #fff;
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 100;
}
#navbar-page-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar-page-icon{
  margin: 0px 16px;
}
#navbaricon{
  color: #5d5c5c;
  font-size: 28px;
}
#navbariconcenter{
  color: #00a6ff;
  font-size: 28px;
}
#navbaricon:hover{
  color: #242424;
}
@media (max-width: 780px) {
  #navbar-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0px;
    background-color: #f3f2f2;
    border-top: 1px solid gainsboro;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 100;
  }
}